<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- 配置一些web应用初始化参数  -->
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/mybatis</param-value>
    </context-param>
    
    
    
    <com.quan.servlet>
        <com.quan.servlet-name>hello</com.quan.servlet-name>
        <com.quan.servlet-class>com.quan.com.quan.servlet.HelloServlet</com.quan.servlet-class>
<!--        <init-param>-->
<!--            <param-name></param-name>-->
<!--            <param-value></param-value>-->
<!--        </init-param>-->
    </com.quan.servlet>
    <com.quan.servlet-mapping>
        <com.quan.servlet-name>hello</com.quan.servlet-name>
        <url-pattern>/hello</url-pattern>
    </com.quan.servlet-mapping>
    
    
    <com.quan.servlet>
        <com.quan.servlet-name>get</com.quan.servlet-name>
        <com.quan.servlet-class>com.quan.com.quan.servlet.GetServlet</com.quan.servlet-class>
    </com.quan.servlet>
    <com.quan.servlet-mapping>
        <com.quan.servlet-name>get</com.quan.servlet-name>
        <url-pattern>/get</url-pattern>
    </com.quan.servlet-mapping>
    
    
    <com.quan.servlet>
        <com.quan.servlet-name>gp</com.quan.servlet-name>
        <com.quan.servlet-class>com.quan.com.quan.servlet.ServletDemo03</com.quan.servlet-class>
    </com.quan.servlet>
    <com.quan.servlet-mapping>
        <com.quan.servlet-name>gp</com.quan.servlet-name>
        <url-pattern>/gp</url-pattern>
    </com.quan.servlet-mapping>
    
    
    <com.quan.servlet>
        <com.quan.servlet-name>dispathcer</com.quan.servlet-name>
        <com.quan.servlet-class>com.quan.com.quan.servlet.requestDispatching</com.quan.servlet-class>
    </com.quan.servlet>
    <com.quan.servlet-mapping>
        <com.quan.servlet-name>dispathcer</com.quan.servlet-name>
        <url-pattern>/dispatcher</url-pattern>
    </com.quan.servlet-mapping>
    
    
    <com.quan.servlet>
        <com.quan.servlet-name>prop</com.quan.servlet-name>
        <com.quan.servlet-class>com.quan.com.quan.servlet.PropertiesServlet</com.quan.servlet-class>
    </com.quan.servlet>
    <com.quan.servlet-mapping>
        <com.quan.servlet-name>prop</com.quan.servlet-name>
        <url-pattern>/prop</url-pattern>
    </com.quan.servlet-mapping>
    
</web-app>